@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-black text-white scroll-smooth antialiased;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  @apply tracking-tight;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: clamp(3rem, 8vw, 8rem);
  letter-spacing: -1px;
  line-height: 1.1;
}
button {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2;
}